html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.navbar-brand,
ul li a {
    color: #fff !important;
}
ul li a:hover {
    color: #ffffff91 !important;

}
.cover {
    height: 500px;  
}
.cover img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cover h2 {
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin:auto;
    text-align:center;
    z-index:10;
    font-size: 40px;
}

.cover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}
/* Service Section */
section {
    margin-top: 13em;
    margin-bottom: 10em;
}
section h1 {
    text-decoration: underline;
    color: #0e312e;
}
section .services {
    margin-top: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 0 30px;
}
.items-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 0px solid;
    padding: 40px;
    margin: 10px;
    background-color: #ecfcaf;
    border-radius: 10px;
    color: #0e312e;
}
.items-box i {
    margin-top: 50px;
    font-size: 35px;
    border: 1px solid #000;
    padding: 25px;
    border-radius: 50%;
}


/*------------------------------contact us section start------------------------------*/ .contact-us {
    background: url(/img/pexels-fauxels-3184418\ \(1\).jpg) no-repeat center fixed;
    min-height: 500px;
}

.contact-us .layer {
    background: rgba(2, 2, 2, 0.8);
}

.contact-us .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto 0px auto;
    justify-content: flex-start;
}

.contact-us .text-blk {
    margin: 0px;
    line-height: 25px;
}

.contact-us .responsive-cell-block {
    min-height: 75px;
}

.contact-us .responsive-container-block.container {
    max-width: 1320px;
    margin: 60px auto 60px auto;
    position: relative;
}

.contact-us .form-box {
    background-color: #151617;
    color: white;
    padding: 35px 33px 35px 33px;
    max-width: 506px;
}

.contact-us .text-blk.contactus-head {
    font-size: 30px;
    line-height: 40px;
}

.contact-us .input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    padding-top: 1px;
    padding-right: 125px;
    padding-bottom: 1px;
    padding-left: 22.5px;
    border: 2px none #767676;
    background-color: #212223;
    color: azure;
    padding: 1px 12.5px 1px 22.5px;
}

.contact-us .textinput {
    width: 100%;
    height: 233px;
    margin: 0px;
    margin-bottom: 20px;
    font-size: 18px;
    padding: 22px;
    background-color: #212223;
    color: azure;
    border: 1px none #767676;
}

.contact-us .submit-btn {
    width: 100%;
    height: 56px;
    border-radius: 5px;
    background-color: #224444;
    font-size: 18px;
    font-weight: 600;
    color: white;
    border: 2px none #224444;
}

.contact-us .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-6.wk-ipadp-6.emial {
    padding: 0px;
    padding-right: 10px;
}

.contact-us .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6.right-one {
    display: flex;
    justify-content: center;
}

.contact-us .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.left-one {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

.contact-us .text-blk.section-subhead {
    margin: 0px;
    margin-bottom: 50px;
    max-width: 420px;
    font-size: 18px;
    color: #b6b6b6;
}

.contact-us .text-blk.section-head {
    font-size: 40px;
    line-height: 55px;
    font-weight: 800;
    margin: 0px;
    margin-bottom: 15px;
    max-width: 450px;
}

.contact-us .icons-container {
    max-width: 450px;
    display: flex;
    justify-content: space-evenly;
}

.contact-us .responsive-container-block.big-container {
    padding: 0px 50px 0px 50px;
    position: relative;
}

@media (max-width: 768px) {
    .contact-us .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.left-one {
        justify-content: center;
        margin: 0px;
        margin-bottom: 30px;
    }

    .contact-us .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-6.wk-ipadp-6.emial {
        padding: 0px;
    }

    .contact-us .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.left-one {
        margin: 0 0 40px 0;
    }
}

@media (max-width: 500px) {
    .contact-us .text-blk.section-head {
        font-size: 26px;
        line-height: 40px;
    }

    .contact-us .responsive-container-block.big-container {
        padding: 0px 20px 0px 20px;
    }

    .contact-us .text-blk.section-subhead {
        margin: 0px;
        margin-bottom: 30px;
        font-size: 16px;
    }

    .contact-us .form-box {
        padding-top: 30px 15px 30px 15px;
    }

    .contact-us .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.left-one {
        margin: 0 0 30px 0;
    }

    .contact-us .input {
        height: 45px;
    }

    .contact-us .text-blk.contactus-head {
        font-size: 24px;
        line-height: 34px;
    }
}

.contact-info i {
    font-size: 30px;
    color: #224444 !important;
}

.contact-info p {
    font-weight: bold;
}



@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.wk-desk-1 {
    width: 8.333333%;
}

.wk-desk-2 {
    width: 16.666667%;
}

.wk-desk-3 {
    width: 25%;
}

.wk-desk-4 {
    width: 33.333333%;
}

.wk-desk-5 {
    width: 41.666667%;
}

.wk-desk-6 {
    width: 50%;
}

.wk-desk-7 {
    width: 58.333333%;
}

.wk-desk-8 {
    width: 66.666667%;
}

.wk-desk-9 {
    width: 75%;
}

.wk-desk-10 {
    width: 83.333333%;
}

.wk-desk-11 {
    width: 91.666667%;
}

.wk-desk-12 {
    width: 100%;
}

@media (max-width: 1024px) {
    .wk-ipadp-1 {
        width: 8.333333%;
    }

    .wk-ipadp-2 {
        width: 16.666667%;
    }

    .wk-ipadp-3 {
        width: 25%;
    }

    .wk-ipadp-4 {
        width: 33.333333%;
    }

    .wk-ipadp-5 {
        width: 41.666667%;
    }

    .wk-ipadp-6 {
        width: 50%;
    }

    .wk-ipadp-7 {
        width: 58.333333%;
    }

    .wk-ipadp-8 {
        width: 66.666667%;
    }

    .wk-ipadp-9 {
        width: 75%;
    }

    .wk-ipadp-10 {
        width: 83.333333%;
    }

    .wk-ipadp-11 {
        width: 91.666667%;
    }

    .wk-ipadp-12 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .wk-tab-1 {
        width: 8.333333%;
    }

    .wk-tab-2 {
        width: 16.666667%;
    }

    .wk-tab-3 {
        width: 25%;
    }

    .wk-tab-4 {
        width: 33.333333%;
    }

    .wk-tab-5 {
        width: 41.666667%;
    }

    .wk-tab-6 {
        width: 50%;
    }

    .wk-tab-7 {
        width: 58.333333%;
    }

    .wk-tab-8 {
        width: 66.666667%;
    }

    .wk-tab-9 {
        width: 75%;
    }

    .wk-tab-10 {
        width: 83.333333%;
    }

    .wk-tab-11 {
        width: 91.666667%;
    }

    .wk-tab-12 {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .wk-mobile-1 {
        width: 8.333333%;
    }

    .wk-mobile-2 {
        width: 16.666667%;
    }

    .wk-mobile-3 {
        width: 25%;
    }

    .wk-mobile-4 {
        width: 33.333333%;
    }

    .wk-mobile-5 {
        width: 41.666667%;
    }

    .wk-mobile-6 {
        width: 50%;
    }

    .wk-mobile-7 {
        width: 58.333333%;
    }

    .wk-mobile-8 {
        width: 66.666667%;
    }

    .wk-mobile-9 {
        width: 75%;
    }

    .wk-mobile-10 {
        width: 83.333333%;
    }

    .wk-mobile-11 {
        width: 91.666667%;
    }

    .wk-mobile-12 {
        width: 100%;
    }
}

/*----------------------------------------contact us section end----------------------------------------*/